@using CareNet_System.Models;
@model Department;

<h2> Adding new Department </h2>

<form asp-action="NewDept" asp-controller="Department" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" class="form form-control" />
        <span asp-validation-for="name" id="nameError" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="manager"></label>
        <input asp-for="manager" class="form form-control" />
        <span asp-validation-for="manager" id="nameError" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="employees_num"></label>
        <input asp-for="employees_num" class="form form-control" />
        <span asp-validation-for="employees_num" id="nameError" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Patients_num"></label>
        <input asp-for="Patients_num" class="form form-control" />
        <span asp-validation-for="Patients_num" id="nameError" class="text-danger"></span>
    </div>
   
    <input type="submit" class="btn btn-success" value="Add" />
</form>
<a asp-action="AllDepts" asp-controller="Department"> Back to all Departments</a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

