@model CareNet_System.Models.Patient
@attribute [Authorize]

@{
    ViewData["Title"] = "Add Patient";
}

<h1>Create New Patient</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="room_num" class="control-label"></label>
                <input asp-for="room_num" class="form-control" />
                <span asp-validation-for="room_num" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="treatment" class="control-label"></label>
                <select asp-for="treatment" class="form-control" asp-items="ViewBag.TreatmentList"></select>
                <span asp-validation-for="treatment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Department</label>
                <select asp-for="dept_id" class="form-control" asp-items="ViewBag.DepartmentList">
                    <option value="">-- Select Department --</option>
                </select>
                <span asp-validation-for="dept_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Follow-up Doctor</label>
                <select asp-for="followUp_doctorID" class="form-control" asp-items="ViewBag.StaffList">
                    <option value="">-- Select Doctor --</option>
                </select>
                <span asp-validation-for="followUp_doctorID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>

            </div>
        </form>
    </div>
</div>

